.navbar {
  position: relative;
  display: flex;
  padding: 1em 2em;
  color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  height: 80px;

  align-items: center;
  justify-content: space-between;

  background-color: #141e30;
  background-size: cover;
}

.home {
  font-size: 28px;
  margin-right: 15px;
}

.navbar p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
}

.leftPartition {
  display: flex;
}

.rightPartition {
  display: flex;
  justify-content: space-between;
  min-width: 200px;
}

.button {
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.searchBar input,
.searchBtn,
.searchBtn:before,
.searchBtn:after {
  transition: all 0.25s ease-out;
}
.searchBar input,
.searchBtn {
  width: 3em;
  height: 3em;
}
.searchBar input:invalid:not(:focus),
.searchBtn {
  cursor: pointer;
}
.searchBar,
.searchBar input:focus,
.searchBar input:valid {
  width: 100%;
}
.searchBar input:focus,
.searchBar input:not(:focus) + .searchBtn:focus {
  outline: transparent;
}
.searchBar {
  margin: auto;
  padding: 1.5em;
  display: flex;
  justify-content: center;
  max-width: 30em;
  color: #141e30;
}
.searchBar input {
  background: transparent;
  border-radius: 1.5em;
  box-shadow: 0 0 0 0.4em #f1f1f1 inset;
  padding: 0.75em;
  transform: translate(0.5em, 0.5em) scale(0.5);
  transform-origin: 100% 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.searchBar input::-webkit-search-decoration {
  -webkit-appearance: none;
}
.searchBar input:focus,
.searchBar input:valid {
  background: #fff;
  border-radius: 0.375em 0 0 0.375em;
  box-shadow: 0 0 0 0.1em #d9d9d9 inset;
  transform: scale(1);
}
.searchBtn {
  background: #f1f1f1;
  border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
  padding: 0.75em;
  position: relative;
  transform: translate(0.25em, 0.25em) rotate(45deg) scale(0.25, 0.125);
  transform-origin: 0 50%;
}
.searchBtn:before,
.searchBtn:after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
}
.searchBtn:before {
  border-radius: 50%;
  box-shadow: 0 0 0 0.2em #f1f1f1 inset;
  top: 0.75em;
  left: 0.75em;
  width: 1.2em;
  height: 1.2em;
}
.searchBtn:after {
  background: #f1f1f1;
  border-radius: 0 0.25em 0.25em 0;
  top: 51%;
  left: 51%;
  width: 0.75em;
  height: 0.25em;
  transform: translate(0.2em, 0) rotate(45deg);
  transform-origin: 0 50%;
}
.searchBtn span {
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

/* Active state */
.searchBar input:focus + .searchBtn,
.searchBar input:valid + .searchBtn {
  background: #3182ce;
  border-radius: 0 0.375em 0.375em 0;
  transform: scale(1);
}
.searchBar input:focus + .searchBtn:before,
.searchBar input:focus + .searchBtn:after,
.searchBar input:valid + .searchBtn:before,
.searchBar input:valid + .searchBtn:after {
  opacity: 1;
}
.searchBar input:focus + .searchBtn:hover,
.searchBar input:valid + .searchBtn:hover,
.searchBar input:valid:not(:focus) + .searchBtn:focus {
  background: #3182ce;
}
.searchBar input:focus + .searchBtn:active,
.searchBar input:valid + .searchBtn:active {
  transform: translateY(1px);
}
