@keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}

@keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}

.btn {
  position: relative;
  background-color: white;
  overflow: hidden;
  color: #141e30;
  border: 1px solid white;
  padding: 20px 60px;
  text-transform: uppercase;
  border-radius: 10px;
  font-weight: bold;
}

.btn:before,
.btn:after {
  position: absolute;
  top: 50%;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 50%;
}
.btn:before {
  left: -20px;
  transform: translate(-50%, -50%);
}
.btn:after {
  right: -20px;
  transform: translate(50%, -50%);
}
.btn:hover {
  color: #ca1f0f;
  z-index: 1;
}
.btn:hover:before {
  -webkit-animation: criss-cross-left 0.8s both;
  animation: criss-cross-left 0.8s both;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
.btn:hover:after {
  -webkit-animation: criss-cross-right 0.8s both;
  animation: criss-cross-right 0.8s both;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
